body {
  background-color: red;
}

h2 {
  color:rgb(97, 5, 69);
}

article {
  padding: 10px;
}
#a1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid blanchedalmond;
}

#a2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 3px double rosybrown;
}

#a3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px dotted hotpink;
}
